*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.25s;
}

*:hover:active {
    transition: all 0.1s;
}

:root {
    font-size: 16px;
}

body {
    font-family: "Arial", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7fc6be;
    background-repeat: no-repeat;
    flex-direction: column;
    margin: auto 0;
    min-height: 100vh;
    /*position: abs;*/
}

#wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-image: linear-gradient(315deg, #fff 0%, #fff 74%);
    gap: 1rem;
    user-select: none;
    box-shadow: 0 0 1.25rem #818181;
    min-height: 45rem;
    height: 90vh;
    border-radius: 0.5rem;
}

i {
    font-size: 1.7rem;
    height: fit-content;
}

#search, #menu {
    margin: auto 0;
    height: fit-content;
    color: #3fb8af;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#search {
    display: flex;
    flex-direction: row-reverse;
}

#search-text {
    width: 0;
    border: none;
    outline: none;
    opacity: 0;
}

.search-text-open {
    font-size: 1rem;
    outline: 0.1rem solid #26a495 !important;
    width: 8rem !important;
    opacity: 1 !important;
    border: 0.1rem solid #26a495 !important;
    color: #3fb8af;
    border-radius: 1rem;
    padding: 0 0.3rem;
}

header {
    width: 100%;
    border-bottom: 1px solid #0d498f;
    padding-bottom: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    user-select: none;
    border-bottom: #000;
}

header h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-top: -0.5rem;
    background: -webkit-linear-gradient(#3960d0, #3960d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

aside {
    position: absolute;
    transform: translate(calc(-100% - 2.5rem), 4rem);
    clip-path: polygon(calc(100% + 1px) 0%, 200% 0%, 200% 100%, calc(100% + 1px) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 10;
}

aside > div {
    width: 33rem;
    height: calc(90vh - 6rem);
    overflow-y: auto;
    background-image: linear-gradient(180deg, #caefe7 0%, #f0ffff 74%);
    padding: 0 1rem 1rem;
}

.fav-title {
    width: 100%;
    height: 3rem;
}

.fav-title h2 {
    background: linear-gradient(0deg, rgba(43, 222, 159, 1) 7.5%, rgba(43, 222, 159, 0.8) 65%, rgba(43, 222, 159, 0.7) 100%);
    -webkit-text-fill-color: #002dac;
    display: flex;
    padding: 1.2rem 1rem 0.7rem;
    position: fixed;
    backdrop-filter: blur(3px);
    transform: translateX(-1rem);
    border-bottom: 0.01rem solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #0d498f, #00346c);
    justify-content: center;
    z-index: 5;
    width: 100%;
}

.width-changer {
    width: calc(100% - 0.62rem) !important;
    transition: all 0s;
}

#fav-ul {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#fav-ul li {
    border: 0.05rem solid #3960d0;
    border-radius: 0.5rem;
    padding: 1.2rem 2rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
}

#fav-ul li div:first-child {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.img-icon {
    width: 8rem;
    border-radius: 1rem;
    cursor: pointer;
}

.img-icon:hover {
    border: 0.1rem solid #3960d0;
    scale: 1.05;
}

.img-icon:active {
    border: 0.15rem solid #3960d0;
    scale: 1.1;
}

.fav-li {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 70%;
}

.fav-li p, h3 {
    background: #0d498f;
    -webkit-background-clip: text;
    margin: 0;
}

#title-h3 {
    background: #0080ff;
    -webkit-background-clip: text;
    margin-bottom: 0.5rem;
}

.list-slide {
    border-bottom: 0.15rem solid; /* from width 0 -> 0.15rem :animation: */
    min-width: fit-content;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #0d498f, #00346c);
    user-select: none;
}

.list-slide-wrapper {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#list-slide-h2 h2 {
    font-size: 2.2rem;
    background: -webkit-linear-gradient(#0d498f, #00346c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    margin-top: -4.5rem;
    left: 50%;
    margin-left: -3.3rem;
}

.meal-icon {
    margin: 0;
}

.image {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    border: 0.15rem solid #3fb8af;
    cursor: pointer;
}

.image:hover {
    border: 0.18rem solid #3fb8af;
    scale: 1.1;
}

.image:active {
    border: 0.2rem solid #3fb8af;
    scale: 1.15;
}

#fav {
    z-index: 5;
    position: absolute;
    margin-left: 5rem;
    border: 0.05rem solid red;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 1.3rem;
}

#fav:hover {
    background: #ffe6e6;
}

#fav:active {
    background: #fdcbcb;
}

h4 {
    margin-bottom: 0.5rem;
}

li {
    list-style: none;
}

#refresh-button {
    cursor: pointer;
}

#refresh-button:hover {
    background: -webkit-linear-gradient(#2a7ee0, #0361c7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#refresh-button:active {
    background: -webkit-linear-gradient(#245da4, #064b94);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#list-slide-container {
    display: flex;
    gap: 2rem;
    padding: 0 1rem 1rem;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 2.5rem;
    gap: 5rem;
}

#container:first-child {
    gap: 13rem;
}

#meal {
    opacity: 0;
    max-width: 32rem;
    aspect-ratio: 1;
    background: -webkit-linear-gradient(#cbe5ff, #8dfff5);
    border-radius: 1rem;
    position: absolute;
    top: 20%;
    color: rgba(4, 89, 0, 0.84);
    transition: opacity 0.5s ease-out;
    user-select: text;
    z-index: 15;
}

#span-cross {
    position: absolute;
    right: 1rem;
    top: 1rem;
    content: "✕";
    color: black;
    cursor: pointer;
    user-select: none;
}

#ul-span-cross {
    color: black;
    cursor: pointer;
    user-select: none;
    height: fit-content;
    transform: translate(1rem, -0.3rem);
}

.meal-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 1rem;
    height: 100%;
}

strong {
    margin-right: 0.2rem;
    line-height: 1.2rem;
    color: #1d97bc;
}

.description h2 {
    display: flex;
    font-size: 1.5rem;
    color: #3960d0;
    margin: -0.5rem 0 1rem;
    text-align: center;
    line-height: 1.5rem;
}

.info-div {
    margin: 1rem;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.info-div img {
    width: 12rem;
    border-radius: 2rem;
}

.info-div div h4 {
    color: #1dcd06;
}

.meal-description {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    margin: 1rem;
}

.meal-description p, .info-div ul {
    max-height: 9.5rem;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.meal-description p {
    padding-right: 0.5rem;
    max-height: 12.5rem;
}

.video-div {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-div h4 {
    color: #d03955;
    font-size: 1.5rem;
    text-align: center;
}

.slide-in {
    animation: slide-in 0.35s forwards;
}

.slide-out {
    animation: slide-out 0.35s forwards;
}

.rotate-in {
    animation: rotate-in 0.35s forwards;
}

.rotate-out {
    animation: rotate-out 0.35s forwards;
}

@keyframes slide-out {
    from {
        transform: translate(-2.5rem, 4rem);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    to {
        transform: translate(calc(-100% - 2.5rem), 4rem);
        clip-path: polygon(calc(100% + 1px) 0%, 200% 0%, 200% 100%, calc(100% + 1px) 100%);
    }
}

@keyframes slide-in {
    from {
        transform: translate(calc(-100% - 2.5rem), 4rem);
        clip-path: polygon(calc(100% + 1px) 0%, 200% 0%, 200% 100%, calc(100% + 1px) 100%);
    }
    to {
        transform: translate(-2.5rem, 4rem);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@keyframes rotate-in {
    to {
        transform: rotateZ(-90deg);
    }
}

@keyframes rotate-out {
    0% {
        transform: rotateZ(-90deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

.fav-icon-ani-class {
    -webkit-animation-name: fav-icon-animation;
    -webkit-animation-duration: 0.15s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes fav-icon-animation {
    50% {
        scale: 1.2;
    }
    100% {
        scale: 1;
    }
}

::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background: #3fb8af;
    border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb {
    background: #1c3fa6;
    border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 52, 210, 0.85);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0, 49, 199, 0.85);
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 1156px) {
    :root {
        font-size: 14px;
    }

    #wrapper {
        width: 80%;
    }

    aside {
        font-size: 1.3rem;
        zoom: 0.8;
    }

    .header {
        zoom: 1.25;
    }

    #meal {
        font-size: 1.5rem;
        max-width: 40rem;
    }

    .meal-description p, .info-div ul {
        max-height: 11.5rem;
    }

    .meal-description p {
        max-height: 17rem;
    }

    .video-div h4 {
        font-size: 2rem;
    }

    .search-text-open {
        width: 7rem !important;
    }
}

@media screen and (max-width: 710px) {
    :root {
        font-size: 13px;
    }

    #meal {
        font-size: 1.1rem;
        max-width: 35rem;
    }

    .videoWrapper {
        width: 10rem;
        height: 8rem;
    }

    .search-text-open {
        width: 6rem !important;
    }
}

@media screen and (max-width: 590px) {
    :root {
        font-size: 10px;
    }

    aside {
        font-size: 1.3rem;
        zoom: 0.9090909090909091;
    }

    .header {
        zoom: 1.1;
    }

    #meal {
        font-size: 1.1rem;
        max-width: 35rem;
    }

    .videoWrapper {
        width: 10rem;
        height: 8rem;
    }

    .search-text-open {
        width: 6rem !important;
    }
}

@media screen and (max-width: 440px) {
    :root {
        font-size: 8px;
    }

    #meal {
        font-size: 0.95rem;
        max-width: 33rem;
    }

    .videoWrapper {
        width: 9rem;
        height: 7rem;
    }

    .search-text-open {
        width: 4rem !important;
    }
}
