*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.25s;
    user-select: none;
}

:root {
    font-size: 18px;
}

body {
    font-family: "Arial", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

#quiz-wrapper {
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
    width: 22rem;
    min-height: 11rem;
}

#h1-wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#quiz-wrapper > h2 {
    margin: 3rem 1.5rem 0.5rem 2rem;
}

#quiz-wrapper ul {
    margin: 1.7rem 0.5rem 2.5rem 1rem;
}

#quiz-wrapper ul > li {
    padding: 0.5rem;
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    word-break: break-word;
    margin: 0.4rem 0.3rem 0.3rem 0.3rem;
}

#quiz-wrapper ul > li label {
    margin-left: 0.6rem;
}

#quiz-wrapper button {
    font-size: 1.1rem;
    width: 100%;
    height: 4rem;
    background-color: #0080ff;
    outline: none;
    border: none;
    color: #fff;
}

#quiz-wrapper button:hover {
    background-color: #0159b2;
    cursor: pointer;
}

#quiz-wrapper button:active {
    transition: all 0.1s;
    background-color: #006ddb;
    cursor: pointer;
}

.notAnswered {
    animation-name: notAnswered;
    animation-duration: 0.25s;
    animation-iteration-count: 2;
}

@keyframes notAnswered {
    0% {
        color: initial;
    }
    70% {
        color: #fb0000;
    }
    90% {
        color: initial;
    }
}


@media screen and (max-width: 460px) {
    :root {
        font-size: 14px;
    }

    #h1-wrapper {
        font-size: 0.7rem;
    }
}

